.DS_Store
.idea
localhost.*
node_modules/
builds/
deploy/
typings/
npm-debug.log
.pnpm-debug.log
__pycache__
dist/

**/*.js.map
**/*.jsx

products/**/*.js
!tests/*/cypress/plugins/index.js
tests/*/cypress/screenshots/
tests/*/cypress/videos/
products/*/cypress/screenshots/
products/*/cypress/videos/
./e2etime-captureWeb.log
translation/**/*.js
config/**/*.js
coverage/
.nyc_output/
translation/po_file_backup
**/*.swp
.serverless*
build.timestamp
debian/capture-redux/*
debian/capture-redux.debhelper.*
debian/capture-redux.substvars
debian/files
debian/changelog

